button:focus {
    outline: none !important;
}

.btn {
    display:         flex;
    flex-direction:  row;
    justify-content: center;
    align-items:     center;

    button {
        border-radius:    15px;
        background-color: #F76D6D;
        color:            white;
        font-size:        24px;
        line-height:      1em;
        //padding:          15px 30px;
    }

    &--circle {
        button {
            width:         170px;
            height:        170px;
            border-radius: 50%;
            font-size:     28px;
            box-shadow:    0 0 15px rgba(0, 0, 0, 0.45);
        }
    }

    &--underline {
        button {
            background-color: transparent !important;
            font-size:        24px;
            line-height:      32px;
            color:            #24315E;
            border-bottom:    2px solid #24315E;
            border-radius:    0 !important;
        }
    }

    &-align-left {
        justify-content: flex-start;
    }

    &-align-center {
        justify-content: center;
    }

    &-align-right {
        justify-content: flex-end;
    }
}