.courses {
    $self: &;

    &__body {
        .courses__partitions {
        }

        .courses__partition {
            font-size:     18px;
            line-height:   32px;
            color:         #24315e;
            padding:       10px;
            width:         200px;
            border:        2px solid #374785;
            border-radius: 15px;
            margin-bottom: 1rem;
            position:      relative;

            &.active {
                background-color: #374785;
                color:            white;
            }

            &.disable-button::after {
                content:  "cl";
                color:    red;
                position: absolute;
                top:      0;
                bottom:   0;
                right:    -30px;
            }
        }

        .courses__steps {
            min-width: 350px;
            //
            //.v-expansion-panels::before {
            //    border:     1px solid #24315E;
            //    //display:    none !important;
            //    //color:      black;
            //    //position:   relative;
            //    //width:      30px;
            //    //height:     100%;
            //    box-shadow: none !important;
            //}

            .v-expansion-panel {
                //background-color: transparent !important;

                &-header {
                    padding: 16px 16px;

                    &::before {
                        content:          '1';
                        font-size:        1rem;
                        line-height:      1rem;
                        color:            black;
                        position:         relative;
                        min-width:        35px;
                        height:           100%;
                        background-color: transparent;
                        opacity:          1;
                    }
                }

                &-content {
                    justify-content: flex-end;

                    &__wrap {
                        width:         calc(100% - 35px - 16px * 2) !important;
                        flex-grow:     0;
                        padding-left:  0;
                    }
                }

                &::before {
                    border:     1px solid #24315E;
                    top:        -1px;
                    left:       -1px;
                    right:      -1px;
                    bottom:     -1px;
                    box-shadow: none !important;
                }
            }
        }

        .courses__step {

        }

        .course {
            $self: &;
            color: black !important;

            &__wrapper {
                position:        relative;
                display:         flex;
                justify-content: center;
                flex-direction:  row;
                width:           100%;
                min-height:      252px;
                margin-bottom:   2rem;
                border-radius:   16px;
                //overflow:       hidden;

                &--full {
                    .course {
                        &__info {
                            width:           939px;
                            justify-content: flex-start;

                            &__bg {
                                mask: url("~/assets/images/1536-/course_body_full.svg");
                            }

                            &__title {
                                margin-bottom: 1rem;
                            }

                            &__status {
                                position: absolute;
                                top:      20px;
                                right:    10px;
                            }

                            &__likes {
                                right: -5px;
                            }
                        }

                        &__action {
                            right: -10px !important
                        }
                    }
                }
            }

            &__avatar {
                $selfAvatar:         &;
                position:            relative;
                //left:                0;
                //top:                 0;
                //bottom:              0;
                width:               328px;
                height:              252px;
                background-color:    #DAE8F0;
                background-repeat:   no-repeat;
                background-position: center;
                background-size:     cover;
                z-index:             1;
                overflow:            hidden;
                cursor:              pointer;
                transition:          all 0.2s ease-in;
                mask:                url('~/assets/images/1536-/course_avatar.svg');

                &::before {
                    content:    "";
                    position:   absolute;
                    top:        0;
                    right:      0;
                    bottom:     0;
                    left:       0;
                    background: inherit;
                    transition: inherit;
                }

                &__more {
                    display:          none;
                    font-family:      'AdamCG', sans-serif;
                    font-size:        36px;
                    position:         absolute;
                    color:            white !important;
                    background-color: rgba(0, 0, 0, 0.3);
                    top:              0;
                    left:             -70px;
                    right:            0;
                    bottom:           0;
                    justify-content:  center;
                    align-items:      center;
                    transition:       all 0.2s ease-in;
                }

                &:hover {
                    &::before {
                        transform: scale(1.2);
                    }

                    .course__avatar__more {
                        display: flex;
                    }
                }
            }

            &__info {
                width:           609px;
                height:          253px;
                margin-left:     -65px;
                position:        relative;
                padding:         20px 90px;
                z-index:         2;
                display:         flex;
                flex-direction:  column;
                justify-content: space-between;

                &__bg {
                    position:          absolute;
                    top:               0;
                    left:              0;
                    right:             0;
                    bottom:            0;
                    background-color:  #DAE8F0;
                    mask:              url("~/assets/images/1536-/course_body.svg");
                    //background-image:  url("~assets/images/1536-/course_body.svg");
                    background-repeat: no-repeat;
                    z-index:           1 !important;
                }

                &__title {
                    font-family: "AdamCG", sans-serif;
                    font-size:   24px;
                    line-height: 32px;
                    color:       #24315e;
                    z-index:     2;
                }

                &__description {
                    font-size:     18px;
                    line-height:   32px;
                    color:         #374785;
                    max-height:    120px;
                    overflow:      hidden;
                    //white-space:   nowrap;
                    text-overflow: ellipsis;
                    flex-grow:     2;
                    z-index:       2;
                }

                &__status {
                    display:         flex;
                    flex-direction:  row;
                    justify-content: flex-start;
                    font-size:       14px !important;
                    font-family:     "AdamCG", sans-serif;
                    z-index:         2;

                    > div {
                        margin-right: 1rem;
                        display:      flex;
                        align-items:  center;

                        &::before {
                            display:           inline-block;
                            content:           ' ';
                            width:             25px;
                            height:            25px;
                            background-size:   22px;
                            background-repeat: no-repeat;
                            margin-right:      0.3rem;
                        }
                    }

                    .users::before {
                        background-image: url('~/assets/images/viewers_count.svg');
                    }

                    .rating::before {
                        background-image: url('~/assets/images/rating.svg');
                        background-size:  25px;
                    }

                    .time::before {
                        background-image: url('~/assets/images/time.svg');
                        background-size:  25px;
                    }
                }

                &__likes {
                    position:            absolute;
                    top:                 0;
                    bottom:              0;
                    right:               10px;
                    display:             flex;
                    justify-content:     center;
                    align-items:         center;
                    font-size:           18px !important;
                    font-family:         "AdamCG", sans-serif;
                    background-repeat:   no-repeat;
                    background-position: center;
                    color:               #24315E;
                    z-index:             100;

                    &::before {
                        content:             ' ';
                        position:            absolute;
                        width:               70px;
                        height:              70px;
                        background-repeat:   no-repeat;
                        background-image:    url('~/assets/images/likes.svg');
                        background-position: center;
                        background-size:     60px;
                        margin-top:          3px;
                    }

                    span {
                        z-index: 5;
                    }
                }
            }

            &__action {
                position: absolute;
                right:    -40px;
                z-index:  5;
                bottom:   -26px;
            }
        }
    };

    &__about {
        background-image: url('~/assets/images/courses/about_fon.svg');
        background-size: cover;
    };
}